* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 700px;
    width: 700px;
    margin: 0 auto;
}

.grid-container {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.item1a {
    background-color: aquamarine;
}

.item2a {
    background-color: blue;
}

.item3a {
    background-color: khaki;
}

.item1b {
    background-color: brown
}

.item2b {
    background-color: aqua
}

.item3b {
    background-color: seagreen
}

.item1c {
    background-color: salmon
}

.item2c {
    background-color: blueviolet
}

.item3c {
    background-color: black
}

.item1d {
    background-color: salmon
}

.item2d {
    background-color: blueviolet
}

.item3d {
    background-color: black
}

.button-container {
    text-align: center;
}

button {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    font-weight: 800;
}